package ${package};

import ${model_path};

/**
 * 代码自动生成类
 * @author lkp 
 * mail 1253364701@qq.com
 * create:${nowDate}
 * update:
 */
public interface ${model}Service extends BaseService<${model}>{

}
